<div class="sidebar-main">
    <div class="sidebar-wrapper">
        <div class="sidebar">
            <a href="/" class="sidebar-item">
                <img class="profile-picture" src="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}">
            </a>
            <a href="/" class="sidebar-item">
                <h1> {{ SITENAME }} </h1>
            </a>
            <div>
                <a class="sidebar-item-menu" href="{{ SITEURL }}/categories.html">CATEGORIES</a>
            </div>
            <div>
                <a class="sidebar-item-menu" href="{{ SITEURL }}/tags.html">TAGS</a>
            </div>
            <nav>
                {% for name, link in SOCIAL %}
                    {% if name == 'email' %}
                        <a class="sidebar-item-icon" href="mailto:{{ link }}">
                            <i class="fa fa-envelope"></i>
                        </a>
                    {% else %}
                        <a class="sidebar-item-icon" href="{{ link }}">
                            <i class="fa fa-{{ name }}-square"></i>
                        </a>
                    {% endif %}
                {% endfor %}
                <a class="sidebar-item-icon" href="{{ FEED_ALL_RSS }}">
                    <i class="fa fa-rss-square"></i>
                </a>
            </nav>
        </div>
    </div>
</div>
